.top-menu {
    ul li a {
        padding-bottom: 5px;
        padding-top: 5px;
        color: $color-white;
        &:hover, &:active, &:visited, &:focus {
            background: none;
            color: $color-secondary;
        }
    }
}

.menu-principal {
    border-radius: 0px;
    ul li a {
        font-weight: bold;
        color: $color-primary !important;
    }
}

.navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
    img {
        width: 100px;
    }
}

.header {
    background-color: $color-default;
}

.with-bg {
    padding: 80px 0 80px 0;
    background-color: $color-black;
    position: relative;
    color: $color-white;
}

img.bg {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.linea-productos {
    h3 {
        text-align: center;
        position: relative;
    }
    a {
        color: $color-white;
        text-decoration: none;
    }
    &.lpL {
        padding-left: 0px;
    }
    &.lpR {
        padding-right: 0px;
    }
    &.lpD {
        padding-top: 30px;
    }
    .resumen {
        text-align: center;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
         transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
    &:hover {
        img.bg {
            -webkit-transition: opacity 0.5s ease-in-out;
           -moz-transition: opacity 0.5s ease-in-out;
           -ms-transition: opacity 0.5s ease-in-out;
           -o-transition: opacity 0.5s ease-in-out;
           transition: opacity 0.5s ease-in-out;
           opacity: 0.2;
        }
        .resumen {
            text-align: center;
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
             transition: opacity 0.5s ease-in-out;
            opacity: 1;
        }
    }
}

.dv-separator {
    height: 40px;
}

.not-visible {
    visibility: hidden;
}

.footer {
    hr {
        height: 2px;
        border: 2px solid $color-default;
        background-color: $color-default;
        margin: 0px;
    }
    background-color: $color-white;
    .first-footer {
        .link {
            hr {
                height: 1px;
                border: 1px solid $color-default;
                margin-bottom: 4px;
            }
            ul {
                padding-left: 0px;
                li {
                    list-style: none;
                }
            }
            padding: 30px;
            a {
                font-weight: bold;
                color: $color-third;
            }
        }
    }
    .copyright {
        color: $color-white;
        padding: 20px;
        background-color: $color-default;
    }
}

.nosotros p {
    text-align: justify;
}

.slick-list {
    .image img {
        margin: 0 auto;
    }
}

.modal-body-overflow {
    max-height: 470px;
    overflow-y: auto;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: $color-black;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: $color-black;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-default;
        }
}

.slick-prev:before, .slick-next:before {
    color: $color-default;
}

.category {
    .breadcrumb {
        margin-bottom: 5px;
    }
    h3 {
        margin-top: 2px;
        margin-bottom: 1px;
    }
    hr {
        margin-top: 2px;
        margin-bottom: 8px;
    }
    .producto {
        margin-top: 20px;
    }
}