.top-menu {
    ul li a {
        padding-bottom: 5px;
        padding-top: 5px;
        color: $color-white;
        &:hover {
            background: none;
            color: $color-secondary;
        }
    }
}

.menu-principal {
    border-radius: 0px;
    ul li a {
        font-weight: bold;
        color: $color-primary !important;
    }
}

.navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
    img {
        width: 100px;
    }
}

.header {
    background-color: $color-default;
}

.with-bg {
    padding: 80px 0 80px 0;
    background-color: $color-black;
    position: relative;
    color: $color-white;
}

img.bg {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.linea-productos {
    a {
        color: $color-white;
    }
    &.lp1 {
        padding-left: 0px;
    }
    &.lp2 {
        padding-right: 0px;
    }
    &.lp3 {
        padding-top: 30px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .resumen {
        text-align: center;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
         transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
    &:hover {
        img.bg {
            -webkit-transition: opacity 0.5s ease-in-out;
           -moz-transition: opacity 0.5s ease-in-out;
           -ms-transition: opacity 0.5s ease-in-out;
           -o-transition: opacity 0.5s ease-in-out;
           transition: opacity 0.5s ease-in-out;
           opacity: 0.2;
        }
        .resumen {
            text-align: center;
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
             transition: opacity 0.5s ease-in-out;
            opacity: 1;
        }
    }
}

.dv-separator {
    height: 40px;
}

.not-visible {
    visibility: hidden;
}

.footer {
    background-color: $color-fourth;
    .first-footer {
        .link {
            padding: 30px;
            text-align: center;
            a {
                font-weight: bold;
                color: $color-secondary;
            }
        }
    }
}