<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase index.html


    # allow social media crawlers to work by redirecting them to a server-rendered static version on the page
    RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)
    RewriteRule producto/(\d*)/(.*)$ http://proagrocorp.robertobocanegra.com/api/productos/getSocial?id=$1 [P]

    RewriteEngine on
    RewriteCond %{HTTP:X-Requested-With} !XMLHttpRequest$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.html [L]
    
</IfModule>