<div class="dv-separator">
</div>
<div class="container-fluid category">
    <ol class="breadcrumb">
        <li><a ui-sref="main">Home</a></li>
        <li ng-if="category.parent_categories1.parent_categories2 !== undefined">
            <a ui-sref="category({ category_id: category.parent_categories1.parent_categories2.id })">{{ category.parent_categories1.parent_categories2.descripcion }}</a>
        </li>
        <li ng-if="category.parent_categories1 !== null">
            <a ui-sref="category({ category_id: category.parent_categories1.id })">{{ category.parent_categories1.descripcion }}</a>
        </li>
        <li>{{ category.descripcion }}</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ category.descripcion }}</h3>
            <hr>
            <form class="form-inline">
                <div class="input-group">
                    <label for="srText">Buscar productos:</label> <input id="srText" type="search" class="form-control" placeholder="Buscar..." ng-model="search.text">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
    </div>
</div>