<div class="container-fluid category">
    <ol class="breadcrumb">
        <li><a ui-sref="main">Home</a></li>
        <li ng-if="category.parent_categories1.parent_categories2 !== undefined">
            <a ui-sref="category({ category_id: category.parent_categories1.parent_categories2.id })">{{ category.parent_categories1.parent_categories2.descripcion }}</a>
        </li>
        <li ng-if="category.parent_categories1 !== null">
            <a ui-sref="category({ category_id: category.parent_categories1.id })">{{ category.parent_categories1.descripcion }}</a>
        </li>
        <li>{{ category.descripcion }}</li>
    </ol>
    <div class="with-bg" ng-if="category.portada !== undefined">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getCategoriesSrc(category, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getCategoriesSrc(category, '_large') }}">
            <img class="img-responsive bg" ng-src="{{ getCategoriesSrc(category, '_large') }}">
        </picture>
        <div class="container">
            <h2 class="text-center">{{ category.descripcion }}</h2>
            <h4 class="text-center" ng-bind-html="category.resumen"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Productos</h2>
        </div>
        <div class="col-sm-6">
            <ul class="pull-right pagination-sm" uib-pagination total-items="pagination.totalItems" first-text="<<" 
                last-text=">>" next-text=">" previous-text="<"
                items-per-page="pagination.itemsPerPage" ng-model="page" 
                boundary-links="true" force-ellipses="true"
                ng-change="pageChanged()">
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 producto" ng-repeat="producto in productos">
            <a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })">
                <img class="img-responsive hvr-grow" src="https://picsum.photos/600/300/?image=0" />
                <h3>{{ producto.descripcion }}</h3>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="pull-right pagination-sm" uib-pagination total-items="pagination.totalItems" first-text="<<" 
                last-text=">>" next-text=">" previous-text="<"
                items-per-page="pagination.itemsPerPage" ng-model="page" 
                boundary-links="true" force-ellipses="true"
                ng-change="pageChanged()">
            </ul>
        </div>
    </div>
    <h4>Sub Categorías</h4>
    <hr>
    <div class="list-group">
        <a ui-sref="category({ category_id: child.id })" class="list-group-item" ng-repeat="child in category.children">
            {{ child.descripcion }}
        </a>
    </div>
</div>
<div class="dv-separator"></div>