<div class="dv-separator">
</div>
<div class="container-fluid category">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li ng-if="producto.category.parent_categories1.parent_categories2 !== undefined">
            {{ producto.category.parent_categories1.parent_categories2.descripcion }}
        </li>
        <li ng-if="producto.category.parent_categories1 !== undefined">
            {{ producto.category.parent_categories1.descripcion }}
        </li>
        <li>{{ producto.descripcion }}</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ category.descripcion }} aaaa</h3>
            <hr>
            <form>
                <div class="input-group col-sm-3">
                    <input id="srText" type="search" class="form-control" placeholder="Buscar..." ng-model="search.text">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="https://picsum.photos/600/300/?image=0" />
        </div>
    </div>
</div>