<div class="with-bg">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_descripcion, '_small') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_descripcion, '_large') }}">
        <!--<img ng-show="{{ infos.bg_descripcion !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_descripcion, '_large') }}">-->
        <img class="img-responsive bg" ng-src="https://picsum.photos/600/200/?gravity=east">
    </picture>
    <div class="container">
        <h2 class="text-center">Contacto</h2>
        <hr>
        <h4 class="text-center">Deja tu consulta, te atenderemos pronto.</h4>
    </div>
</div>
<br>
<div class="container">
    <form>
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="txtNombres">Nombres</label>
                <input id="txtNombres" type="text" class="form-control" ng-model="nombres">
            </div>
            <div class="form-group col-sm-4">
                <label for="emEmail">Email</label>
                <input id="emEmail" type="email" class="form-control" ng-model="nombres">
            </div>
        </div>
        <div class="form-grou">
            <label for="txtAsunto">Asunto</label>
            <input id="txtAsunto" type="text" class="form-control" ng-model="asunto">
        </div>
        <div class="form-grou">
            <label for="txtaMensaje">Mensaje</label>
            <textarea id="txtaMensaje" class="form-control" ng-model="mensaje">
            </textarea>
        </div>
        <br>
        <div class="form-grou">
            <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-send"></span> Enviar</button>
        </div>
    </form>
</div>
<br>
<br>