<div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="0">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slides.indexOf(slide)">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_large') }}">
            <img class="img-slider" ng-src="{{ getSlideSrc(slide, '_large') }}">
        </picture>
    </div>
</div>
<section>
    <div class="container">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_quienes_somos, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_quienes_somos, '_large') }}">
            <img ng-show="{{ infos.bg_quienes_somos !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_quienes_somos, '_large') }}">
        </picture>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 style="text-align: center;">Global Agro, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et pellentesque risus, bibendum commodo ligula. Ut vitae elit massa.</h3>
            </div>
        </div>
    </div>
</section>