<div class="text-center" ng-show="slides.length === 0 && loading"><img src="images/loading.gif" alt="cargando" style="width: 120px;"/></div>
<div uib-carousel class="carousel-fade" interval="myInterval" no-wrap="noWrapSlides" active="0">
    <div class="animated fadeIn" uib-slide ng-repeat="slide in slides track by slide.id" index="slides.indexOf(slide)">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_large') }}">
            <img class="img-slider" ng-src="{{ getSlideSrc(slide, '_large') }}">
        </picture>
    </div>
</div>
<div class="dv-separator">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="linea-productos not-visible"  ng-class="[category.col, {'lpL': category.lp.includes('L'), 
            'lpR': category.lp.includes('R'), 'lpD': category.lp.includes('D')}]"
            when-visible="animateElementInFadeIn"
            when-not-visible="animateElementOutFadeIn"
            delay-percent="0.80"
            ng-repeat="category in categories">
            <div class="with-bg" ng-class="{'lpL': category.lp.includes('L'), 'lpR': category.lp.includes('R'), 'lpD': category.lp.includes('D')}">
                <picture picturefill>
                    <source media='(max-width: 767px)' ng-attr-srcset="{{ getCategoriesSrc(category, '_small') }}">
                    <source media='(min-width: 767px)' ng-attr-srcset="{{ getCategoriesSrc(category, '_large') }}">
                    <img class="img-responsive bg" ng-src="{{ getCategoriesSrc(category, '_large') }}">
                </picture>
                <h3><a ui-sref="category({ category_id: category.id })">{{ category.descripcion }}</a></h3>
                <p class="resumen">{{ category.resumen }}</p>
            </div>
        </div>
    </div>
</div>
<div class="dv-separator">
</div>
<div class="container-fluid hidden-xs">
    <slick ng-if="productos.length" infinite="true" speed="300" slides-to-show="5">
        <div ng-repeat="producto in productos">
            <div class="image">
                <a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })">
                    <picture picturefill>
                        <source media='(max-width: 767px)' ng-attr-srcset="{{ getProductosSrc(producto, '_small') }}">
                        <source media='(min-width: 767px)' ng-attr-srcset="{{ getProductosSrc(producto, '_large') }}">
                        <img  style="height: 150px;" class="img-responsive" ng-src="{{ getProductosSrc(producto, '_large') }}">
                    </picture>
                </a>
                <h4 class="text-center"><a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })">{{ producto.descripcion }}</a></h4>
            </div>
        </div>
    </slick>
</div>
<div class="container-fluid hidden-sm hidden-lg hidden-md">
    <slick ng-if="productos.length" infinite="true" speed="300" slides-to-show="1">
        <div ng-repeat="producto in productos">
            <div class="image">
                <a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })">
                    <picture picturefill>
                        <source media='(max-width: 767px)' ng-attr-srcset="{{ getProductosSrc(producto, '_small') }}">
                        <source media='(min-width: 767px)' ng-attr-srcset="{{ getProductosSrc(producto, '_large') }}">
                        <img  style="height: 150px;" class="img-responsive" ng-src="{{ getProductosSrc(producto, '_large') }}">
                    </picture>
                </a>
                <h4 class="text-center"><a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })">{{ producto.descripcion }}</a></h4>
            </div>
        </div>
    </slick>
</div>
<div class="dv-separator">
</div>
<section ng-if="infos != undefined"
    when-visible="animateElementInFadeIn"
    when-not-visible="animateElementOutFadeIn" class="not-visible">
    <div class="container-fluid with-bg">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgDescripcionSrc(infos.bg_descripcion, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgDescripcionSrc(infos.bg_descripcion, '_large') }}">
            <!--<img ng-show="{{ infos.bg_descripcion !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_descripcion, '_large') }}">-->
            <img class="img-responsive bg" ng-src="{{ getBgDescripcionSrc(infos.bg_descripcion, '_large') }}">
        </picture>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 style="text-align: center;" ng-bind-html="infos.descripcion">
                </h3>
            </div>
        </div>
    </div>
</section>
<div class="dv-separator">
</div>
<div class="container" style="text-align: center;" ng-if="infos != undefined">
    <ng-youtube-embed 
        video="infos.video" 
        width="100%"
        autoplay="true"
        color="white"
        disablekb="true">
    </ng-youtube-embed>
</div>
<div class="dv-separator">
</div>
