<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li ng-if="producto.category.parent_categories1.parent_categories2 !== undefined">
            {{ producto.category.parent_categories1.parent_categories2.descripcion }}
        </li>
        <li ng-if="producto.category.parent_categories1 !== undefined">
            {{ producto.category.parent_categories1.descripcion }}
        </li>
        <li>{{ producto.descripcion }}</li>
    </ol>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive"
                ez-plus 
                ezp-model="{thumb:IMGPATH, small:IMGPATH, large:IMGPATH}"
                ezp-options="{scrollZoom: true, easing: true}"
                id="zoom_01" 
                src='https://picsum.photos/600/300/?image=0' 
                data-zoom-image='https://picsum.photos/2400/1200/?image=0' />
            
            <a ng-click="share(producto)" title="Compartir en Facebook"><img ng-src="images/fb.svg" class="social-network-icon"></a>
            <a ng-click="share(producto)" title="Compartir en Twitter"><img ng-src="images/tw.svg" class="social-network-icon"></a>
        </div>
        <div class="col-sm-6">
            <h2>Titulo</h2>
            <p>Detalle 1</p>
            <p>Detalle 2</p>
            <div class="text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus erat vitae sapien elementum, sit amet bibendum quam accumsan. Vestibulum vel posuere massa, eu dapibus elit. Proin eleifend vehicula diam, nec placerat sem gravida sit amet. Fusce eu dolor libero. Nam sit amet erat sed nisi tincidunt porttitor at in lacus. Morbi sit amet orci a risus pretium pharetra. Sed imperdiet faucibus faucibus. Duis dignissim mi fermentum quam suscipit, nec tincidunt odio viverra. Sed cursus sed ante ut consectetur. Proin dapibus a sem quis dignissim. Ut dictum quam quis massa hendrerit, blandit dignissim ligula ultrices. Maecenas pellentesque in nisl non porta.</p>
            </div>
            <a class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Ficha Técnica</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    {{ productos | json }}
    <h3>Productos Relacionados</h3>
    <slick ng-if="productosRelacionados.length" infinite="true" speed="300" slides-to-show="5">
        <div ng-repeat="productoRelacionado in productosRelacionados">
            <div class="image">
                <a ui-sref="producto({ category_id: productoRelacionado.category_id, productoRelacionado productoRelacionado.id, slug: productoRelacionado.slug })">
                    <picture picturefill>
                        <source media='(max-width: 767px)' ng-attr-srcset="{{ getProductosSrc(productoRelacionado, '_small') }}">
                        <source media='(min-width: 767px)' ng-attr-srcset="{{ getProductosSrc(productoRelacionado, '_large') }}">
                        <img class="img-responsive" ng-src="{{ getProductosSrc(productoRelacionado, '_large') }}">
                    </picture>
                </a>
                <h4 class="text-center"><a ui-sref="producto({ category_id: productoRelacionado.category_id, producto_id: productoRelacionado.id, slug: productoRelacionado.slug })">{{ productoRelacionado.descripcion }}</a></h4>
            </div>
        </div>
    </slick>
</div>