<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li ng-if="producto.category.parent_categories1.parent_categories2 !== undefined">
            {{ producto.category.parent_categories1.parent_categories2.descripcion }}
        </li>
        <li ng-if="producto.category.parent_categories1 !== null">
            {{ producto.category.parent_categories1.descripcion }}
        </li>
        <li>{{ producto.descripcion }}</li>
    </ol>
    <div class="text-center" ng-show="loading === true"><img src="images/loading.gif" alt="cargando" style="width: 120px;"/></div>
    <div class="row" ng-show="loading !== true">
        <div class="col-sm-6">
            <img class="img-responsive"
                ez-plus 
                ezp-model="{thumb: image, small: image, large: image}"
                ezp-options="{scrollZoom: true, easing: true}"
                id="zoom_01" 
                src='{{ image }}' 
                data-zoom-image='https://picsum.photos/600/300/?image=0' />
            <a class="rsLink" ng-click="shareFb(producto)" title="Compartir en Facebook"><img ng-src="images/fb.svg" class="social-network-icon"></a>
            <a class="rsLink" ng-click="shareTw(producto)" title="Compartir en Twitter"><img ng-src="images/tw.svg" class="social-network-icon"></a>
        </div>
        <div class="col-sm-6">
            <h2 ng-bind-html="producto.descripcion"></h2>
            <p><b>Otros nombres:</b> {{ producto.nombre2 }}, {{ producto.nombre3 }}</p>
            <div class="text-justify">
                <p ng-bind-html="producto.detalle"></p>
            </div>
            <a class="btn btn-default" target="_blank" ng-href="{{ fichaTecnica }}"><span class="glyphicon glyphicon-download-alt"></span> Ficha Técnica</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3 ng-if="productosRelacionados.length">Productos Relacionados</h3>
    <div class="text-center" ng-show="loading === true"><img src="images/loading.gif" alt="cargando" style="width: 120px;"/></div>
    <slick ng-if="productosRelacionados.length" infinite="true" speed="300" slides-to-show="5">
        <div ng-repeat="productoRelacionado in productosRelacionados">
            <div class="image">
                <a ui-sref="producto({ category_id: productoRelacionado.category_id, productoRelacionado productoRelacionado.id, slug: productoRelacionado.slug })">
                    <picture picturefill>
                        <source media='(max-width: 767px)' ng-attr-srcset="{{ getProductosSrc(productoRelacionado, '_small') }}">
                        <source media='(min-width: 767px)' ng-attr-srcset="{{ getProductosSrc(productoRelacionado, '_large') }}">
                        <img class="img-responsive" ng-src="{{ getProductosSrc(productoRelacionado, '_large') }}">
                    </picture>
                </a>
                <h4 class="text-center"><a ui-sref="producto({ category_id: productoRelacionado.category_id, producto_id: productoRelacionado.id, slug: productoRelacionado.slug })">{{ productoRelacionado.descripcion }}</a></h4>
            </div>
        </div>
    </slick>
</div>