<div class="with-bg" ng-if="infosSearch !== undefined">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSearchSrc(infosSearch.bg_search, '_small') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSearchSrc(infosSearch.bg_search, '_large') }}">
        <!--<img ng-show="{{ infos.bg_descripcion !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_descripcion, '_large') }}">-->
        <img class="img-responsive bg" ng-src="{{ getBgSearchSrc(infosSearch.bg_search, '_large') }}">
    </picture>
    <div class="container">
        <h2 class="text-center">Buscar</h2>
        <hr>
        <h4 class="text-center">{{ infosSearch.search_text }}</h4>
    </div>
</div>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Buscar</li>
    </ol>
    <div class="row">
        <div class="col-sm-3">
            <form novalidate angular-validator angular-validator-submit="searchText(textSearch, 'btnSearch')" name="Search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="srSearch" type="search" placeholder="Buscar" ng-model="textSearch" class="input-sm form-control" name="search">
                        <span class="input-group-btn">   
                            <button id="btnSearch" type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="searchHr">
    <h3>Productos</h3>
    <div class="list-group">
        <a ui-sref="producto({ category_id: producto.category_id, producto_id: producto.id, slug: producto.slug })" class="list-group-item" ng-repeat="producto in productosSearch">
            <h4 class="list-group-item-heading">{{ producto.descripcion }}</h4>
            <p class="list-group-item-text"><span ng-bind-html="producto.detalle | limitTo: 90"></span><span ng-if="producto.detalle.length > 90">...</span></p>
        </a>
    </div>
    <h3>Categorías</h3>
    <div class="list-group">
        <a ui-sref="category({ category_id: category.id })" class="list-group-item" ng-repeat="category in categoriesSearch">
            <h4 class="list-group-item-heading">{{ category.descripcion }}</h4>
            <p class="list-group-item-text"><span ng-bind-html="category.resumen | limitTo: 90"></span><span ng-if="category.resumen.length > 90">...</span></p>
        </a>
    </div>
</div>
